<div *ngIf= "!loginService.user ; else menu"
  class="first">
<h1>Debes estar logueado con una cuenta Google para usar esta aplicación</h1>

<button class="btn-success" (click) = "loginService.loguear()">Log In</button>
</div>
<ng-template #menu>
  <div class="container-fluid">
    <ul class="nav navbar-nav">        
      <li><a [routerLink]="['/home']">  Home </a></li>         
      <li><a [routerLink]="['/productos']"> Productos </a></li>
      <li><a [routerLink]="['/test']"> Pdf</a></li>     
    </ul>
    
    <router-outlet>
    </router-outlet>
  </div>
  <div *ngIf="loginService.user" style="text-align:top;">
  <br><button (click) = "loginService.logout()">Log Out</button>
  </div>
  
</ng-template>

