<!--div *ngIf="!loginService.uid==='XtDlWhXnW1gx0tzGEdB2g7Is9Jw1'"-->
<br><br><br><br><br>
<div>
  <h3>Aquí puedes gestionar tus datos</h3>
  <h4>(Todos los campos son obligatorios)</h4>
  <br><br>
  
  <form #form3="ngForm"
  (ngSubmit)="onSubmit3(form3)">
  <div class="form-group">
      <label>Nombre: </label>     
   <input [(ngModel)]="key" name="key" type="hidden">      
   <input  class="form-control" name="nombre" required
   [(ngModel)]="displayName">
  </div>
  <div class="form-group">
      <label>Apellidos: </label>
   <input  class="form-control" name="usuario.apellidos" required
   [(ngModel)]="apellidos">
  </div>
  <div class="form-group">
      <label>Dirección: </label>
   <input  class="form-control" name="usuario.direccion" required
   [(ngModel)]="direccion">
  </div>
  <div class="form-group">
      <label>Código Postal: </label>
   <input  class="form-control" name="usuario.codigo" required
   [(ngModel)]="codigo">
  </div>
  <div class="form-group">
      <label>Provincia: </label>
   <input  class="form-control" name="usuario.provincia" required
   [(ngModel)]="provincia">
  </div>
  <div class="form-group">
      <label>Teléfono: </label>
   <input  class="form-control" name="usuario.telefono" required
   [(ngModel)]="telefono">
  </div>
  <div class="form-group">
      <label>E-mail: </label>
   <input  class="form-control" name="usuario.email" required
   [(ngModel)]="email">
  </div>
   <div class="form-group">
   <button type="submit">Nuevo</button>
   <button type="button" (click)="cambia3(form3.value)"> Modificar</button>
   <button type="button" (click)="resetea3()"> Reset</button>
   
   </div>
</form>
</div>