
<br><br><br><h1 style="text-align:center; color:snow">Menú Admin</h1>
<br><br>
<h3 style="text-align:center; color:snow" (click)="myModal1.open()">Gestión productos</h3>
<h3 style="text-align:center; color:snow" (click)="myModal2.open()">Gestión clientes</h3>

<modal #myModal1>
    <modal-header>
        <h1>Gestión productos</h1>
    </modal-header>
    <modal-content>
        
        <div style="color:black" *ngFor="let p of productos | async" (click)="seleccionado(p)">
            {{ p.nombre }} {{ p.peso }} {{ p.precio }} {{ p.tipo }} {{ p.descripcion }} 
            <img src= "{{ p.foto }}" width="60px" height="60px">
            <i class="glyphicon glyphicon-trash" (click)="borra1(p.key)"></i>
            <hr>
       
           
           </div>
           <form #form1="ngForm"
           (ngSubmit)="onSubmit(form1)">
           <div class="form-group">
               <label>Nombre</label>
               <input [(ngModel)]="productoService.productoSeleccionado.key" name="key" type="hidden">
            <input  class="form-control" name="nombre" required
            [(ngModel)]="productoService.productoSeleccionado.nombre">
           </div>
           <div class="form-group">
               <label>Peso</label>
            <input  class="form-control" name="peso" required
            [(ngModel)]="productoService.productoSeleccionado.peso">
           </div>
           <div class="form-group">
               <label>Precio</label>
            <input  class="form-control" name="precio" required
            [(ngModel)]="productoService.productoSeleccionado.precio">
           </div>
           <div class="form-group">
               <label>Tipo</label>
            <input  class="form-control" name="tipo" required
            [(ngModel)]="productoService.productoSeleccionado.tipo">
           </div>
           <div class="form-group">
               <label>Descripción</label>
            <input  class="form-control" name="descripcion" required
            [(ngModel)]="productoService.productoSeleccionado.descripcion">
           </div>
           <div class="form-group">
               <input type="file">
            <button (click)="graba(file)">Sube foto</button>
            <button type="submit"> Nuevo</button>
            <button type="button" (click)="cambia1(form1.value)"> Modificar</button>
            <button type="button" (click)="resetea1()"> Reset</button>
            
           </div>
        </form>
    </modal-content>
    <modal-footer>
        <button class="btn btn-primary" (click)="myModal1.close()">Cerrar</button>
    </modal-footer>
</modal>
<modal #myModal2>
    <modal-header>
        <h1>Gestión clientes</h1>
    </modal-header>
    <modal-content>
        <div style="color:black" *ngFor="let c of clientes | async" (click)="seleccionado2(c)">
          {{ c.nombre }} {{ c.apellido }} {{ c.direccion }}
            
            <i class="glyphicon glyphicon-trash" (click)="borra2(c.key)"></i>
            <hr>
       
           
        </div>
           <form #form2="ngForm"
           (ngSubmit)="onSubmit2(form2)">
           <div class="form-group">
               <label>Nombre</label>     
            <input [(ngModel)]="clienteService.clienteSeleccionado.key" name="key" type="hidden">      
            <input  class="form-control" name="nombre" required
            [(ngModel)]="clienteService.clienteSeleccionado.nombre">
           </div>
           <div class="form-group">
               <label>Apellido</label>
            <input  class="form-control" name="apellido"  required
            [(ngModel)]="clienteService.clienteSeleccionado.apellido">
           </div>
           <div class="form-group">
               <label>Direccion</label>
            <input  class="form-control" name="direccion" required
            [(ngModel)]="clienteService.clienteSeleccionado.direccion">
           </div>
            <div class="form-group">
            <button type="submit">Nuevo</button>
            <button type="button" (click)="cambia2(form2.value)"> Modificar</button>
            <button type="button" (click)="resetea2()"> Reset</button>
            
            </div>
        </form>
    </modal-content>
    <modal-footer>
        <button class="btn btn-primary" (click)="myModal2.close()">Cerrar</button>
    </modal-footer>
</modal>