.a {
    color: black;
    text-align:center; 
    color:snow;
    font-size: 30px;
    border: 1px solid black;
    border-radius: 15px;
    background-color: white;
    font-weight: bold;
    size: 30px;
    
}
.a:hover {
    background-color: gray;
}
