<br><br><br>
<h1 style="text-align:center; color:snow">Lista de productos disponibles</h1>
<br><br>


    <div class="a" style="color:black" *ngFor="let p of productos | async" (click)="producSelec = p; myModal.open()">
     {{ p.nombre }} {{p.peso}} {{p.precio}} {{p.tipo}} 
     
     <img src="{{p.foto}}" width="60px" height="60px">
     
     
     
    
    </div>
    
    <modal #myModal>
        <modal-header>
            <h1>Producto detallado</h1>
        </modal-header>
        <modal-content>

            <img src="{{producSelec?.foto}}" width="260px" height="300px">    
            <h1>Nombre: {{ producSelec?.nombre }}</h1> <hr> <h1>Peso: {{ producSelec?.peso }}</h1>
            <hr> <h1>Precio: {{ producSelec?.precio}}</h1><hr><h1>Tipo: {{producSelec?.tipo}}</h1><hr>
            <h1>Descripción: {{ producSelec?.descripcion }}</h1>
            <button (click)="[carrito].addCarro()">Añadir al carrito</button>
        </modal-content>
        <modal-footer>
            <button class="btn btn-primary" (click)="myModal.close()">Cerrar</button>
        </modal-footer>
    </modal>
    <div *ngIf="[carrito].length > 1" style="border:1px solid black; background-color: white; color:black">
        Tu carrito de la compra
        
    </div>
   
    
    <!--modal #myModal>
        <modal-header>
            <h1>Producto detallado</h1>
        </modal-header>
        <modal-content>
                
            Juego
        </modal-content>
        <modal-footer>
            <button class="btn btn-primary" (click)="myModal.close()">Cerrar</button>
        </modal-footer>
    </modal-->
 
 