h1 {
    text-align: center;
    color: snow;
}

div.first {
    text-align: center;
}
a {
    color: snow;
    font-variant: small-caps;
    font-size: 20px;
}

/*a:hover {
    color: black;
    font-size: 30px;
}*/
a:link {
    color: snow;
    font-size: 20px;
}

/* visited link */
a:visited {
    color: snow;
    
}

/* mouse over link */
a:hover {
    color: black;
    font-size: 35px;
}

/* selected link */
a:active {
    color: black;
    font-size: 35px;
}
