<div *ngIf= "!loginService.user ; else menu"
  class="first">
<h1>Debes estar logueado con una cuenta Google para usar esta aplicación</h1>

<button class="btn-success" style="text-align:center" (click) = "loginService.loguear()">Log In</button>
</div>
<ng-template #menu>
  <div class="container-fluid">
    <ul class="nav navbar-nav">        
      <li><a [routerLink]="['/home']">  Home </a></li>         
      <li><a [routerLink]="['/productos']"> Productos </a></li>
      <li><a [routerLink]="['/clientes']"> Mi usuario</a></li> 
      <li><a *ngIf="loginService.user.uid==='XtDlWhXnW1gx0tzGEdB2g7Is9Jw1'" [routerLink]="['/admin']"> admin</a></li>    
    </ul>
    
    <router-outlet>
    </router-outlet>
    <p style="text-align:center; color:snow">Bienvenido {{loginService.user.displayName}}</p>
  </div>
  <div *ngIf="loginService.user" style="text-align:center;">
  <br><button (click) = "loginService.logout()">Log Out</button>
  </div>
  
</ng-template>

